<%- include('../partials/header.ejs'); %> 
<%- include('../partials/navbar.ejs'); %> 
<div class="container mt-5">
    <h1 class="text-center">Profiles Data</h1>

    <form action="/profiles" method="get">
        <input type="number" class="me-3" id="page" name="page" placeholder="Input number of pages">
        <input type="number" class="me-3" id="row" name="row" placeholder="Input number of rows">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <a href="/profiles/add" class="btn btn-primary mt-2" type="button">Add New Profile</a>
    <table class="table mt-3">
        <thead class="table-dark">
            <tr>
                <th scope="col">id</th>
                <th scope="col">user_id</th>
                <th scope="col">user_country</th>
                <th scope="col">user_rank</th>
                <th scope="col">gold_amount</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
        <% for( let i = 0; i < profiles.length; i++ ) { %>
            <tr>
                <th scope="row"><%= profiles[i]['id'] %></th>
                <td><%= profiles[i]['user_id'] %> </td>
                <td><%= profiles[i]['user_country'] %> </td>
                <td><%= profiles[i]['user_rank'] %> </td>
                <td><%= profiles[i]['gold_amount'] %> </td>
                <td class="d-flex">
                    <form action="/Profiles/<%= profiles[i]['id']%>" method="get">
                        <button type="submit" class="btn btn-success mx-2 my-2">Detail</button>
                    </form>
                    <form action="/Profiles/<%= profiles[i]['id']%>/update" method="get">
                        <button type="submit" class="btn btn-primary mx-2 my-2" >Update</button>
                    </form>
                    <form action="/Profiles/<%= profiles[i]['id'] %>?_method=DELETE" method="post">
                        <button type="submit" class="btn btn-danger mx-2 my-2">Delete</button>
                    </form>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <% for( let i = 0; i < pageCount; i++ ) { %>
                <li class="page-item"><a class="page-link" href="http://localhost:<%= port %>/Profiles?page=<%= i+1 %>&row=<%= row %>"><%= i+1 %></a></li>
            <% } %>
        </ul>
    </nav>
</div>
<%- include('../partials/footer.ejs'); %> 