<%- include('../partials/header.ejs'); %> 
<%- include('../partials/navbar.ejs'); %> 
<div class="container mt-5">
    <h1>Show Profile By Id</h1>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <%= profile['id'] %> 
            </div>
            <div class="card-body">
                <ul>
                    <li><strong>user_id </strong>  : <%= profile['user_id'] %>  </li>
                    <li><strong>user_country </strong>  : <%= profile['user_country'] %>  </li>
                    <li><strong>user_rank    </strong>  : <%= profile['user_rank'] %>  </li>
                    <li><strong>gold_amount  </strong>  : <%= profile['gold_amount'] %>  </li>
                    <li><strong>createdAt</strong>  : <%= profile['createdAt'] %> </li>
                    <li><strong>updatedAt</strong>  : <%= profile['updatedAt'] %> </li>
                </ul>
                <a href="/profiles" class="btn btn-primary">Back</a>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs'); %> 